* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    background-image: url(../image/pokemon-background-pokeball.jpg) ;
    
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    box-shadow: 0px 10px 10px black;
}


header img:first-child {
    width: 5%;
    height: 5%;
}

header img:last-child {
    width: 10%;
    height: 10%;
}

main {
    display: flex;
    justify-content: center;
    
    
}

.container-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 2%;
    width: 45%;
    height: 700px;
    border-radius: 50%;
    border: 4px solid black;
    box-shadow: 0px 0px 25px 10px red;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

h1 img {
    display: flex;
    justify-content: center;
    width: 70%;
}

.global-jsp_frr {
    display: flex;
    align-items: center;
}

div ul {
    list-style-type: none;
    font-size: 30px;
}

select {
    font-size: 30px;
    text-align: center;
}
